<?xml version="1.0" encoding="ISO-8859-1"?>
<navigation>
  <index1>
    <label>Clientes</label>
    <icon>fa fa-group</icon>
    <permissao>2</permissao>
    <link>clientes</link>    
  </index1>
  <index>
    <label>Listar Clientes</label>
    <link>clientes</link>    
  </index>
  <index>
    <label>Cadastrar Cliente</label>
    <link>clientes-create</link>    
  </index>
  <index>
    <label>Grupo de Clientes</label>
    <link>categorias</link>    
  </index> 
</navigation>